.filmsPage {
  padding: 20px;
  color: white;
}

.filmsTable thead {
  background-color: #152a3c;
}

.filmsTable tbody tr:nth-child(even) {
  background-color: #1D3A53;
}

.filmsTable tbody tr:nth-child(odd) {
  background-color: #2c5273;
}


.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination button {
  border: none;
  cursor: pointer;
  padding: 12px 15px;
  background-color: #2c5273;
  color: white;
}

.pagination button:disabled {
  background-color: grey;
}

.filmRowClicked {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.filmRowClicked:hover {
  background-color: #0e253b;
}


.modalOutside {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent h2{
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin:0px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.modalContent p{
  font-size: 20px;
  padding-bottom: 10px;
  
}

.modalContent button{
  font-size: 15px;
  margin-left:490px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  border: none;
  background: none;
  outline: none;
}

.modalContent {
  background: #2C5273;
  padding: 30px;
  max-width: 500px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90%;
  color: white;
  text-align: left;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
}

.actorsList {
  gap: 8px;
}

.actorsList li {
  font-size: 18px;
  padding: 4px 0;
}

/* Alligning the table so everytime it goes to a new page it is fixed and not moving */
.filmsTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Table header and info are alligned so we make 33% each */
.filmsTable th, 
.filmsTable td {
  width: 33%;
  padding: 15px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}